.in-control {
  margin: 1em auto;
  padding: 2em 1em 3em;

  p {
    padding: 0 1em;
    max-width: 600px;
    margin: auto auto 1em;
  }

  &__info {
    margin-top: 1em;
    width: 100%;
    display: flex;
    //flex-wrap: wrap;
    flex-flow: row wrap;

    &__item {
      flex-grow: 1;
      margin: 1em;
      flex-basis: 250px;
      text-align: center;
      font-weight: 300;

      h3 {
        margin-top: 0.5em;
        font-size: 1.25em;
        font-weight: 300;
      }

      p {

      }

      &__icon {
        height: 40px;
        margin-bottom: 0.5em;
      }
    }
  }
}