.further-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 1em;

  h1, p {
    font-weight: 300;
  }

  &__block {
    padding: 0 2em;
    flex: 0 0 50%;

    @media screen and (max-width: 768px) {
      align-self: flex-start;

      h1, p {
        text-align: left;
        padding: 0;
      }
    }
  }

  &__title {

  }

  &__p {
    line-height: 1.5;
  }

  &__list > li {
    font-weight: 300;
  }
}