@import '../../../utils/constants';

.hero {
  background: linear-gradient(123deg, $coral, $blueBell);
  padding: 3em;

  @media screen and (max-width: 768px) {
    padding: 1.5em;
  }

  display: flex;

  &__inner {
    max-width: $maxWidth;
    margin: auto;
    display: flex;
  }

  &__title {
    flex: 0 0 45%;
    color: $offWhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2em;

    &--big {
      font-size: 2.4em;
    }

    &--sub {
      font-weight: 300;
    }
  }

  &__demo {
    flex: 0 0 55%;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 992px) {

    &__title {
      flex: 0 0 100%;
    }

    &__demo {
      display: none;
    }
  }
}
