@import "../../utils/constants";

.footer {
  width: 100%;
  background-color: $gray;
  color: $offWhite;
  border-top: 1px solid #888888;

  padding: 2em 1em;
  text-align: center;

  &__logo {
    margin-bottom: 0.5em;
    height: 42px;
  }

  &__list {
    list-style: none;
    font-weight: 300;
  }
}