@import "../../utils/constants";

.sign-up-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;

  &--left {
    text-align: left;
    justify-content: flex-start;
  }

  &--right {
    align-self: center;
    text-align: right;

    @media screen and (max-width: 768px) {
      align-self: flex-end;
    }
  }

  &__p {
    font-weight: 300;
    margin-bottom: 0.75em;
  }

  &__form {
    min-width: 250px;
    max-width: 320px;
    flex: 0 0 100%;

    &--left {
      align-self: flex-start;
    }

    &--right {
      align-self: flex-end;
    }

    &__email {
      height: 42px;
      position: relative;

      .icon-mail {
        position: absolute;
        left: .75em;
        top: .75em;
        color: rgb(78, 78, 78);
      }

      &__input {
        border-radius: 2px;
        border: none;
        padding: .75em .75em .75em 2.75em;
        width: 100%;
      }

    }

    &__submit {
      height: 42px;
      border: none;
      box-sizing: border-box;
      margin: 1em 0;
      padding: .5em 2em;
      font-weight: 300;
      border-radius: 2px;
      color: $offWhite;

      &--dark {
        background: $darkBlue;
      }

      &--light {
        background: linear-gradient(123deg, $coral, $frenchPink);
      }
    }

  }
}