body {
    background: #fbfbfb;
}

h2 {
    margin: 0;
    padding: 2em 1em 1em;
    text-align: center;
}

img {
    margin-bottom: 0;
}

.container {
    padding: 1em;
}

.container > * {
    padding: 1em;
}

.hero {
    display: flex;
    background: linear-gradient(to right, rgb(250, 111, 117), rgb(253, 112, 166));
    padding: 3rem;
}

.hero .title {
    flex: 0 0 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 1em;
}

.title h1 {
    font-size: 3em;
}

.title h3 {
    font-weight: 500;
}

.hero .demo {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
}

.how-it-works .container {
    display: flex;
}

.how-it-works .step {
    flex: 0 0 33%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.how-it-works .step:last-child {
    border-right: none;
}

.features .container {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    flex: 0 0 50%;
    text-align: center;
}

.feature .icon {
    font-size: 4em;
    color: rgb(120 176 132);
}

.signup {
    background: rgb(78, 78, 78);
    color: white;
}

.signup .container {
    display: flex;
    align-items: center;
}

.signup .container > * {
    flex: 0 0 50%;
    padding: 2rem;
}

.signup h2 {
    padding: 0 0 1em 0;
}

.signup form {
    margin-bottom: 0;
}

.signup p {
    font-size: .9rem;
    text-align: center;
}

.signup .spam {
    font-style: italic;
}

.signup form .input:not(:last-child) {
    margin-bottom: 1.5em;
}

.signup input, .signup button {
    width: 100%;
}

.signup input {
    padding: .75em;
    font-size: .75rem;
}

.signup button {
    padding: .5em;
}

.signup button {
    background: linear-gradient(to right, rgb(250, 111, 117), rgb(253, 112, 166));
    color: white;
    border: none;
}

.icon-input {
    background: white;
    position: relative;
    font-size: .75rem;
}

.icon-input input {
    border: none;
    padding-left: 2.75em;
}

.icon-input i {
    position: absolute;
    left: .75em;
    top: .75em;
    color: rgb(78, 78, 78);
}

@media(max-width: 850px) {
    .hero {
        padding: 3rem 0;
    }

    .hero .title {
        flex: 1;
        text-align: center;
    }

    .hero .demo {
        display: none;
    }
}

@media(max-width: 750px) {

    h2 {
        padding-bottom: 0;
    }

    .container {
        flex-direction: column;
        padding: 1em 0;
    }

    .container > * {
        flex: 1;
        padding: 1em 2em;
    }

    .how-it-works .step {
        border: none;
    }

    .signup .container > * {
        padding: 0;
        flex: 1;
    }

    .signup form {
        width: 100%;
    }
}

@media(min-width: 1000px) {
    .container {
        width: 88%;
        margin: 0 auto;
    }
}