img {
    margin-bottom: 0;
}

.hero {
    display: flex;
    background: linear-gradient(to right, rgb(250, 111, 117), rgb(253, 112, 166));
}

.hero .title {
    width: 40%;
    padding: 5rem 10%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title h1 {
    font-size: 3em;
}

.hero .demo {
    width: 60%;
    padding: 5%;
    display: flex;
    align-items: center;
}

.features {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 5%;
    max-width: 90%;
    margin: 0 auto;
}

.feature {
    padding: 2em;
    text-align: center;
}

.signup {
    background: rgb(78, 78, 78);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 5%;
}

.signup form {
    width: 33%;
}

.signup form > * {
    padding: .5em 0;
}

.signup input, .signup button {
    width: 100%;
    padding: .5em;
}

.signup button {
    background: linear-gradient(to right, rgb(250, 111, 117), rgb(253, 112, 166));
    color: white;
    border: none;
}

@media(max-width: 900px) {
    .hero .title {
        width: 100%;
        text-align: center;
    }

    .hero .demo {
        display: none;
    }

    .features, .signup {
        flex-direction: column;
    }

    .signup {
        text-align: center;
        align-items: center;
    }
}