@import '~normalize.css';
@import '../utils/constants.scss';

body {
  background: $offWhite;
  color: $dark;
}

h1 {
  font-size: 1.75em;
  font-weight: 300;
}

h2 {
  margin: 0;
  padding: 2em 1em 1em;
  text-align: center;
}

img {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.smaller {
  font-size: 0.9em;
}

.light {
  font-weight: 300;
}


.container {
  max-width: $maxWidth;
  padding: 1em;
  margin: 0 auto;
}

@media(min-width: 1020px) {
  .container {
    width: 88%;
  }
}

@media(max-width: 1020px) {
  .container {
    width: 100%;
  }
}

@media(max-width: 768px) {

  .container {
    flex-direction: column;
    padding: 1em 0;
  }

  .why {
    padding: 0;
  }

  .how-it-works .step {
    border: none;
  }

  .signup .container > * {
    padding: 1em;
    flex: 1;
  }

  .signup form {
    width: 100%;
  }
}

@media(max-width: 500px) {
  .container {
    width: 100%;
  }
}